header {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  /* height: 70px;
  display: flex;
  align-items: center; */
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

@media (max-width: 768px) {
  header .container {
    flex-direction: column;
  }
}

header .logo a {
  color: var(--primary-color);
  font-size: 25px;
  font-weight: bold;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .container .nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .nav li:not(:last-child) {
  margin-right: 30px;
}

header .nav a {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 20px;
  transition: all 0.3s ease;
}

header .nav li:hover a {
  color: var(--accent-color-hover);

}

@media (max-width: 768px) {
  header .logo a {
    font-size: 20px;
    height: 50px
  }

  header .nav  li{
    margin-bottom: 5px;

  }
  header .nav  li a {
    font-size: 15px;
  }
}
