.result-card {
  margin-bottom: 40px;
  display: flex;
}

@media (max-width: 768px) {
  .result-card {
    flex-direction: column;
    align-items: center;
  }
}

.poster-wrapper img {
  width: 120px;
  height: 150px;
  border-radius: 6px;
  background-color: var(--secondary-color);
  margin-right: 15px;
  display: block;
  color: transparent;
}

/* .filter-poster {
  width: 100%;
  height: 100%;
  background-color: red;
} */

.result-card .info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.result-card .info h3 {
  margin-bottom: 10px;
}

.result-card .button-card .btn:first-child {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .poster-wrapper img{
    margin: 0;
    width: 100%;
  }
  .result-card .info {
    align-items: center;
    margin: 0;
    text-align: center;
  }
  .result-card .info h3 {
    margin-top: 20px;
  }

  .result-card .button-card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .result-card .button-card .btn {
    font-size: 12px;
    margin-top: 20px;
    max-width: 50%;
  }
}
